@import url("nativize.css");

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}

#blocklyDiv{
	width: 100%;
	height: 90%;
}